@tailwind base;
@tailwind components;
@tailwind utilities;


*{
   color: #fff; 
}

body{
    background-color: #111;
}


/* we dont want scroll bar */
#tasklist::-webkit-scrollbar{
    display: none;
}